[submodule "submodules/latex-buildsystem"]
	path = submodules/latex-buildsystem
	url = git@github.com:src2crs/latex-buildsystem
[submodule "submodules/distdocs"]
	path = submodules/distdocs
	url = git@github.com:src2crs/distdocs
[submodule "submodules/src2listings"]
	path = submodules/src2listings
	url = git@github.com:src2crs/src2listings
	branch = develop
[submodule "submodules/src2exam"]
	path = submodules/src2exam
	url = git@github.com:src2crs/src2exam
	branch = develop
